<div class="store-profile-attribute last">
  <div class="store-profile-attribute-content">
    <div class="attribute-label"><%= name.html_safe %></div>
    <div class="attribute-description"><%= description %></div>
  </div>
  <div class="attribute-details hide"></div>
</div>