<% if !local_assigns[:last].nil? %>
  <div class="store-profile-attribute last">
<% else %>
  <div class="store-profile-attribute">
<% end %>
  <div class="store-profile-attribute-content">
    <div class="attribute-label"><%= name.html_safe %></div>
    <div class="attribute-description">
    <% if description == "Yes" %>
    	<i class="fa <%= tag_type %>"></i> Yes
    <% else %>
    	<i class="fa <%= tag_type %>" style="opacity:0.1;"></i> No
    <% end %>
    </div>
    


  </div>
</div>