<% if !local_assigns[:last].nil? %>
  <div class="store-profile-attribute last">
<% else %>
  <div class="store-profile-attribute">
<% end %>
  <div class="store-profile-attribute-content">
    <div class="attribute-label"><%= name %></div>
    <div class="attribute-tags"><%= list.to_sentence %></div>
    <%#= render "stores/tags/store_tag_list", tag_list: list %>
  </div>
</div>