<div class="row">
  <div class="small-6  columns"><br/>

    <h1>Editing store</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @store %> |
    <%= link_to 'Back', stores_path %>
  </div>
</div>