<div class="row">
  <div class="finder-main-bar small-12 columns">
		<div class="row left">
  		<%= link_to '< Back to Stores', stores_path %>
  	</div>
    <div class="row">
      <div class="small-8 small-centered columns"><br/>
        <div class="register-header">Add New Store</div>

        <%= render 'form' %>
        
      </div>
    </div>
  </div>
</div>