<div class="survey">
  <div class="main-content-box  large-12 columns">
    <h1>Preferences</h1>
    <table>
      <thead>
      <tr>
        <th>Category</th>
        <th>Users Answers</th>
      </tr>
      </thead>

      <tbody>
      <% @available_surveys.each do |survey| %>
          <tr>
            <td><%= survey.name %></td>
            <td>
              <% if @responses_per_survey.has_key?(survey.id) %>
              <%= @responses_per_survey[survey.id].to_sentence %>
              <% end %>
            </td>
            <td><%= link_to 'Start the quiz!', respond_survey_path(survey) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


    <br>
  </div>
</div>
