<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @preference.location %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
