<div class="fields">
  <div style="float:right;display:inline-block">
    <%= link_to_remove_fields '<i class="fa fa-trash-o"></i> Remove Answer'.html_safe, f %>
  </div>
  <%= f.label :content, "Answer" %>
  <%= f.text_field :content %>
</div>