<div class="store-result-attribute">
  <div class="store-result-attribute-content">
    <div class="attribute-label">
      <%= name %>
    </div>
    <%= render "stores/tags/store_tag_list", tag_list: list %>
  </div>
</div>