<div class="row">
  <div class="main-content-box finder-form-container small-9 columns">
    <div class="row">
      <div class="finder-main-bar small-12 columns">
        <%= render 'form' %>

      </div>
    </div>
  </div>
</div>