$dark-gray: #282828;
$medium-gray: #424242;
$light-gray: #f5f4ee;
$pale-gray: #6f6f6f;
$almost-white: #fcfcfc;
$dusky-blue: #475e70;
$dark-blue: #212933;
$aqua: #64c9f7;
$alert-ok: #43ac6a;
$alert-ok-border: #3a945b;
$white: #fff;