$main-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

$font-weight-bold: 600;
$font-weight-normal: 400;
$font-weight-medium:500;
$font-weight-light: 200;

$font-size-xsmall: .7em;
$font-size-small: .875em;
$font-size-normal: 1em;
$font-size-large: 1.2em;