$darkest-gray: #212121;
$dark-gray: #282828;
$medium-gray: #424242;
$charcoal-gray: #6f6f6f;
$pale-gray: #999999;
$light-gray: #e8e8e8;
$cloudy-gray: #f0f0f0;
$almost-white: #fcfcfc;

$lush-blue: #538EBD;
$dusky-blue: #475e70;
$dark-blue: #212933;
$aqua: #64c9f7;

$dark-purple: #2E1F33;
$dusky-purple: #482C52;
$medium-purple: #6A317D;
$bright-purple: #71258A;

$alert-ok: #43ac6a;
$alert-ok-border: #3a945b;
$white: #fff;