/*

Could possible use these for the gray scale

almost-white: #fcfcfc;
gray01: #f5f5f5;
gray02: #f0f0f0;
gray03: #e3e3e3;
gray04: #d9d9d9;
gray05: #BDBDBD;
gray06: #ABABAB;
gray07: #7D7D7D;
gray08: #575757;
gray09: #404040;
gray10: #212121;


*/

/* Some of these taken from foundation_and_overrides.css */

$primary-color: hsla(26, 75%, 60%, 1);
$primary-color-darker: hsla(26, 75%, 45%, 1);
$primary-color-brighter: hsla(26, 75%, 75%, 1);

/* Note - color of the ABC score backgrounds must be set in script.js */

$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$black: #000;
$darkest-gray: #212121;
$dark-gray: #282828;
$medium-gray: #424242;
$charcoal-gray: #6f6f6f;
$pale-gray: #999999;
$light-gray: #e8e8e8;
$cloudy-gray: #f0f0f0;
$almost-white: #fcfcfc;

$lush-blue: #538EBD;
$dusky-blue: #475e70;
$dark-blue: #212933;
$aqua: #64c9f7;

$dark-purple: #2E1F33;
$dusky-purple: #482C52;
$medium-purple: #6A317D;
$bright-purple: #71258A;
$dusky-red: #BB3F18;
$dark-orange: #925F06;
$dark-brown: #3B2600;

$alert-ok: #43ac6a;
$alert-ok-border: #3a945b;
$white: #fff;