$main-font: 'PT Serif', serif !important;
$header-font: 'Raleway', sans-serif !important;

$font-weight-bold: 600;
$font-weight-normal: 400;
$font-weight-medium:500;
$font-weight-light: 200;
$font-weight-xlight: 100;

$font-size-tiny: .6em;
$font-size-xsmall: .7em;
$font-size-small: .875em;
$font-size-normal: 1em;
$font-size-medium: 1.1em;
$font-size-large: 1.2em;
$font-size-xlarge: 1.5em;
$font-size-huge: 3em;