/*

Sans Serif options

'Lato', sans-serif;
'Raleway', sans-serif; 100,200,300,400,600,700
'Montserrat', sans-serif;

Serif options

'PT Serif', serif;
'Droid Serif', serif;
'Crimson Text', serif 400,600,700,400italic,600italic,700italic

Logo options

'Montez', cursive;
'Vast Shadow', cursive;
'Sacramento', cursive;
'Norican', cursive;
'Damion', cursive;
'Oleo Script Swash Caps', cursive

*/

$main-font: 'Roboto Slab', serif !important;
$header-font: 'Raleway', sans-serif !important;
$fancy-font: 'Sacramento', cursive !important;

$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-kinda-light: 300;
$font-weight-light: 200;
$font-weight-xlight: 100;

$font-size-tiny: .6em;
$font-size-xsmall: .7em;
$font-size-small: .875em;
$font-size-normal: 1em;
$font-size-medium: 1.1em;
$font-size-large: 1.2em;
$font-size-xlarge: 1.5em;
$font-size-huge: 3em;