/*/////////////////////////////////////////////////*/
/* Reference and Notes */
/*/////////////////////////////////////////////////

VENDOR PREFIX REFERENCE:

-webkit - Safari 3-4, iOS 1-3.2, Android 1.6-
-moz - Firefox 1-3.6:
none - Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+

*/

@import 'fonts';
@import 'colors';

/*/////////////////////////////////////////////////*/
/* Site-Wide Styles */
/*/////////////////////////////////////////////////*/

html, body { width:100%; height:100%; }
.wrapper { 
	min-height:100%;
	height:auto !important;
	height:100%;    
	margin: 0 auto -50px;  /* Bottom value must = footer height */
}

.main-content-box{
	padding: 12px;
	margin: 4px 4px;
	border-radius: 0px; 
	border: 1px solid #eee;
	background-color: #fcfcfc;
/*  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
}

.inner-content-box{
	overflow: auto;
	padding: 8px;
/*	border: 1px solid #f0f0f0;
	background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);*/
}

.inner-content-box-shaded{
	overflow: auto;
	padding: 8px;
/*	border: 1px solid #e3e3e3;
	background-color: #f0f0f0;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);*/
}

.content-box-transparent{
	padding: 12px;
	margin: 4px 4px;
/*	border-radius: 2px; 
	border: 1px solid #eee;
	color: #575757;
	background-color:rgba(255, 255, 255, 0.3);*/
/*  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
}

.back-bar{
	float: left;
	text-align: left;
	padding-left: 12px;
	i {
		margin-right: 4px;
	}
}

/*/////////////////////////////////////////////////*/
/* Footer */
/*/////////////////////////////////////////////////*/

/* This is a spacer that pushes the bottom bar to the bottom of the window */
.push { width:100%; height:50px; position:relative; bottom:0; }

.bottom-bar {
	height: 40px;
	line-height: 40px;
	width: 90%;
	position: relative;
	color: #7D7D7D;
	float: none;
	border-top: 1px dotted #e3e3e3;
	padding-top: 20px;
	margin: 20px auto 0px auto;

	ul {
		list-style-type: none;
		margin: -16px 0px 0px 0px;

		li {
			padding-right: 14px;
			display: inline;
			font-size: 1rem;

			a {
				color: #7D7D7D;
			}
			&.copyright{
				font-size: .9rem;
				padding: 0 20px 2px 0px;
				line-height: 45px;
			}
		}

		&.left {
			float: left;
		}
		&.right {
			float: right;
		}
		&.middle {
			float: none;
			text-align: center;
		}
	}
}

/*.bottom-bar{
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  position: relative;
  background: #333333;
	bottom: 0px;
	width: 100%;
	margin-bottom: 0px;
}
*/

/*/////////////////////////////////////////////////*/
/* User Registration Form */
/*/////////////////////////////////////////////////*/


#registration-form {
	margin: 0px auto;
	float: none;
}

.register-header {
	font-family: 'Oleo Script Swash Caps', cursive !important;
	font-size: 1.6em;
	text-align: center;
	padding: 20px;
}

.register-survey {
	margin: 0px auto;
	float: none;
	text-align: center;
}

/*/////////////////////////////////////////////////*/
/* Add Store Form */
/*/////////////////////////////////////////////////*/

#add-store-form {
	margin: 0px auto;
	float: none;
}

.add-store-form .field {
	padding: 6px;
	border-bottom: 1px dotted #e3e3e3;
	/*white-space: nowrap;*/
}

.add-store-form .field-header {
	padding: 20px;
	font-size: 1.4rem; 
	font-weight: bold; 
	border-bottom: 1px dotted #e3e3e3;
}

.add-store-form label {
	display: inline;
	font-weight: bold !important;
	color: black !important;
}

.add-store-form label.inline {
	margin: 0 0 1rem 0;
	padding: 0;
}

.add-store-form label.secondary {
	font-weight: normal !important;
	color: #404040 !important;
}

.add-store-form input[type="checkbox"] + label {
	padding-right: 12px;
	font-weight: normal !important;
	color: #404040 !important;
}

.add-store-form .form-instructions{
	font-size: .9rem;
	line-height: 24px;
	height: 24px;
}

.checkbox-container {
	white-space: nowrap;
  display: inline;
}

#add-store-form-info {
	margin: 0px auto;
	float: none;
	text-align: center;
}

.add-store-survey {
	margin: 0px auto;
	float: none;
	text-align: center;
}

input#new-store-name{
	margin-bottom: 0px;
}

/*/////////////////////////////////////////////////*/
/* Image Survey */
/*/////////////////////////////////////////////////*/

.survey-images-container {
	width: 100%;
	float: left;
}

.survey-image-box {
	float: none;
	margin: 10px auto;
	width: 90%;
	padding: 12px;
	border: 1px solid #eee;
	box-shadow: 2px 2px 2px rgb(250, 250, 250);		
}

img.survey-image {
	max-height: 400px;
}

input.survey_radio {
}

/*/////////////////////////////////////////////////*/
/* Store Profile */
/*/////////////////////////////////////////////////*/

.store-profile {
	margin: 10px auto;
	width: 100%;
	max-width: 1260px;
	float: none;

}

#store-profile-map {
	margin-top: 8px;
}

img.store-profile-main-img {
	float: left;
/*	-webkit-box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);
  box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);*/
}

.store-profile-topbar{
	margin: 0px 0px 8px 16px;
}

.store-profile-bookmark{
	font-size: .9em;
}
.store-profile-bookmark a{
	color: #6f6f6f;
}

.store-profile-titlebar {

}

.store-profile-title {
	font-family: $header-font;
	font-weight: $font-weight-normal;
	text-transform: uppercase;
	font-size: 24pt;
	float: left;
	padding: 8px 12px 12px 12px;
	width: 100%;
}

.store-survey-link {
	margin-top: 13px;
}

#survey-bar {
	display: none;
	float: none;
	text-align: center;
}

.survey-question {
	display: inline-block;
	font-size: .8em;
}

.survey-response {
	display: inline-block;

}
.survey-submit {
	display: inline-block;

}

.store-profile-location {
	font-size: .8rem;
	width: 100%;
	float: left;
	padding: 0px 3px 12px 3px;
	border-bottom: 1px dotted #f5f5f5;
	font-weight: $font-weight-light;

	a {
		color: $charcoal-gray;
	}
	a:hover{
		text-decoration: underline;
	}
	i {
		padding-right: 4px;
	}



}

.store-profile-review {
	float: left;
	padding: 12px 3px;
}

.store-profile-leftcol {
	float: left;
	position: relative;
}

.store-profile-item-thumbs {
	float:left;
	padding:4px 14px 0px 14px;
}


.store-profile-bottom-bar{
	position: absolute;
	bottom: 16px;
	left: 20px;
	color: #6f6f6f;
}
.store-profile-bottom-bar a{
	color: #6f6f6f;
}

ul.store-profile-icons {
	list-style-type: none;
	margin-left:0px;
	margin-top: -16px;
}

ul.store-profile-icons li {
	padding-right: 8px;
	display: inline;
}

ul.store-profile-categories {
	list-style-type: none;
	margin-right: 20px;
	margin-bottom: 0px;
}

ul.store-profile-categories li {
	display: inline;
	font-size: .8em;
	color: #858585;
	padding: 2px 4px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
}

.store-profile-details-container{
	padding: 12px;
	margin-top: 12px;
}

.store-profile-details-header{
	font-weight: 600;
	font-size: 1.2em;
	margin-bottom: 12px;
}

.store-profile-type-rating-container {
	margin-top: 6px;
	border-bottom: 1px dotted $cloudy-gray;
	padding-bottom: 20px;
}

.store-profile-type-rating {
	margin: 2px auto;
	height: 20px;
	line-height: 20px;
	width: 100%;

	.attribute-label{
		font-size: 1.1rem;
		font-weight: bold;
		float: left;
		padding-top: 6px;
		margin: 0px 20px 0px 10px;
		width: 12%;	
	}

	ul.type-ratings {
		float: left;
		display: inline;
		list-style-type: none;
		margin: 2px 6px 2px 0px;
		width: 80%;

		li.type-rating-item {
			display: inline;
			font-size: 1em;
			color: #000;
			background-color: #fff;
			padding: 2px 8px;
			margin-right: 6px;
			border-radius: 8px;
			border: 1px solid #d9d9d9;
			white-space: nowrap;
		}
	}

	.type-rating-number{
		padding-left: 4px;
		font-weight: $font-weight-normal;
	}

}

.store-thumb-img-container {
	margin: 0px;
	li {
		margin: 0px;
		padding: 4px 4px 0px 4px;
		&:nth-of-type(n){
			padding-left: 0px;
		}
		&:nth-of-type(3n){
			padding-right: 0px;
		}
	}
	.store-thumb-img {

	}
}


li.rating-tooltip-container {
	display: inline;
	font-size: 1em;
	color: #000;
	background-color: #fff;
	margin-left: 12px;
	cursor: pointer;

}

.rating-tooltip {
	font-size: 1.0rem;
	font-weight: $font-weight-kinda-light;
}

.tooltip {
	font-size: .7rem;
	border: 1px solid $charcoal-gray;
	border-radius: 2px;
	/*right: 300px;*/
	margin-left: -200px;
	margin-bottom: 34px;
	max-width: 400px;

}


.store-profile-details {

	float: left;

	 ul.tags {

		float: left;
		display: inline;
		list-style-type: none;
		height: 20px;
		margin: 2px 0px 0px 0px;

		li {
			display: inline;
			font-size: .7em;
			color: #000;
			background-color: #f5f5f5;
			padding: 2px 4px;
			margin-right: 3px;
			border-radius: 4px;
			border: 1px solid #e6e6e6;
		}
	}
}

.store-profile-attributes-box{
	width: 100%;
	/*border: 1px dotted #e3e3e3;	*/
	float: left;
	padding: 4px 8px 0px 8px;
	position: relative;
	overflow: auto;
}

.store-profile-attribute-type-box {
	float: left;
	margin-bottom: 20px;	
}

.store-profile-attribute-type-header {
	font-weight: $font-weight-normal;
	font-size: 1.1em;
	margin-bottom: 10px;	

}

.store-profile-attribute {

	padding: 2px 4px;
	margin-bottom: 2px;
	float: left;
	width: 100%;
	border-bottom: 1px dotted #f5f5f5;
	position: relative;

	.store-profile-attribute-content{
		line-height: 28px;
		float: none;
	}

	&.last{
		border-bottom: none;

		&.padded{
			padding-bottom: 20px;
		}
	}
	.attribute-label {
		float: left;
		font-size: .9em;
		white-space: nowrap;
		margin: 0px 6px;
		width: 25%;
	}
	.attribute-description {
		float: left;
		font-size: .7em;
		white-space: nowrap;
		margin: 0px 6px 0px 0px;
		width: 25%;
		color: $charcoal-gray;
	}
	.attribute-details {
		display: none;
		float: left;
		width: 100%;
		/*height: 80px;*/
		padding-left: 20px;
		font-size: .9rem;
	}
	.attribute-details-icon {
		padding: 0px 4px;
		float: right;
		margin-top: 2px;
	}
	.attribute-rating {
		float: left;
		/*font-size: 1em;*/
		white-space: nowrap;
		margin: 1px 12px 0px 0px;
	}
	.flaticon-sale{
		font-size: 1.3rem;
	}
	.flaticon-shelf1{
		font-size: 1.3rem;
	}
	.fa-wheelchair{
		font-size: 1.0rem;
	}
}


.attribute-details-container{
	font-size: .8rem;
	color: #575757;
	height: 26px;
	margin-left: 14px;
	padding: 8px 0px;
}

.attribute-details-label{
	float: left;
	color: inherit;
	width: 25%;
	text-align: right;
	padding-right: 8px;
	white-space: nowrap;
}

.attribute-details-description{
	float: left;
	color: inherit;
	font-size: .8rem;
	white-space: nowrap;
	font-weight: 400;
	margin: 0px 6px;
	width: 25%;
}

.attribute-details-rating{
	float: left;
	white-space: nowrap;
	color: inherit;
}

.attribute-details-user-select{
	float: left;
	white-space: nowrap;
	color: inherit;
}
.attribute-details-user-tags{
	float: left;
	white-space: nowrap;
	color: inherit;
}

.attribute-details-user-description{
	float: left;
	color: inherit;
	font-size: .8rem;
	white-space: nowrap;
	font-weight: 400;
	margin: 0px 6px;
	width: 25%;
}

.user-select {
	margin-top: 4px;
	border-top: 1px dotted #e3e3e3;
}

.user-rating-icon {
	opacity: 0.25;
	cursor: pointer;
}

.attribute-details-tags-container {
	float: left;
	/*white-space: nowrap;*/
	color: inherit;
}

ul.attribute-details-tags {
	display: inline;
	list-style-type: none;
	margin-left: 0px;
	line-height: 12px;
}

ul.attribute-details-tags li {
	display: inline;
	font-size: .7em;
	color: #000;
	background-color: #f5f5f5;
	padding: 1px 3px;
	border-radius: 6px;
	border: 1px solid #e6e6e6;
}

.store-profile-comment-box{
	margin: 8px 0px;
	padding: 12px;
}

.store-profile-comments {
}

.store-profile-add-comment form{
	margin:	0px;
}

/*/////////////////////////////////////////////////*/
/* Store Search Results */
/*/////////////////////////////////////////////////*/

#store-results {
	display:none;
}

.store-result-query{
	margin: 10px auto;
	max-width: 1260px;
	width: 92%;
	float: none;
}

.store-result {
	margin: 10px auto;
	width: 92%;
	max-width: 1260px;
	float: none;
	position: relative;
	padding-bottom: 4px;
}

img.store-result-main-img {
	float: left;
/*	-webkit-box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);
  box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);*/
}

img.store-result-main-img-narrow {
	float: left;
	width: 43%;
	margin-right: 8px;
/*	-webkit-box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);
  box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);*/
}

/* Use the left and right designations if it's only a two photo layout without thumbs on right*/
img.store-result-main-img-narrow.left {
	float: left;
	width: 47%;
	margin: 0px 10px;
}

img.store-result-main-img-narrow.right {
	float: right;
	width: 47%;
	margin: 0px 10px;
}

img.store-result-main-img-thumb {
	margin-bottom: 22px;
	float: right;
	width: 12%;
/*	-webkit-box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);
  box-shadow: 1px 1px 1px rgba(125, 125, 125, 0.5);*/
}
img.store-result-main-img-thumb.last {
	margin-bottom: 0px;
}

.store-result-item-thumbs {
	float:left;
	padding:4px 4px 0px 14px;
}

.store-result-title {
	font-family: $header-font;
	font-weight: $font-weight-kinda-light;
	text-transform: uppercase;
	font-size: $font-size-xlarge;
	margin-bottom: 6px;
}

.store-result-title a {
	color: #000;
}

.store-result-location {
	font-size: .7em;
	margin-bottom: 4px;
	color: $dark-orange;
	a {
		text-overflow: ellipsis;	
		color: $dark-orange;
	}
	a:hover{
		text-decoration: underline;
	}
	i {
		padding-right: 4px;
	}
}

.store-result-top-bar{
	font-size: .7em;
	margin-bottom: 6px;
}
.store-result-top-bar a{
	color: #6f6f6f;
}

.store-result-bottom-bar{
	float: left;
	width: 100%;
	padding: 8px;
	margin: 8px 0px;
	background-color: #f0f0f0;
	color: #6f6f6f;
}
.store-result-bottom-bar a{
	color: #6f6f6f;
}



.store-result-main-img-box {
	width: 70%;
	float: right;
}
.store-result-details {
	float: left;
	width: 30%;

	ul.tags {
		float: left;
		display: inline;
		list-style-type: none;
		margin: 2px 0px;
		white-space: nowrap;

		li {
			display: inline;
			font-size: .7em;
			color: #000;
			background-color: #f5f5f5;
			padding: 2px 4px;
			margin-right: 3px;
			border-radius: 4px;
			border: 1px solid #e6e6e6;
			white-space: nowrap;
		}

	}

	ul.categories {
		list-style-type: none;
		margin: 2px 0px;
			li {
			display: inline;
			font-size: .8em;
			background-color: #f5f5f5;
			padding: 2px 4px;
			border-radius: 8px;
			border: 1px solid #e6e6e6;
			white-space: nowrap;

		}
	}

	ul.type-ratings {
		float: left;
		display: inline;
		list-style-type: none;
		margin: 2px 0px;

		li.type-rating-item {
			display: inline;
			font-size: .8em;
			color: #000;
			background-color: #fff;
			padding: 2px 4px;
			border-radius: 8px;
			border: 1px solid #d9d9d9;
			white-space: nowrap;
		}

	}

	.type-rating-number{
		padding-left: 4px;
		font-weight: $font-weight-normal;
	}

}

.store-result-attributes-box{
	width: 100%;
	float: left;
	padding: 4px 8px 0px 0px;

}

.store-result-attribute{
	padding: 6px 0px;
	margin-bottom: 2px;
	float: left;
	width: 100%;
	border-bottom: 1px dotted #f0f0f0;
	position: relative;

	.last{
		border-bottom: none;
	}

	.attribute-label {
		float: left;
		font-size: .8em;
		white-space: nowrap;
		/*font-weight: 600;*/
		margin-right: 8px;
	}

	.attribute-rating {
		float: left;
		font-size: .7em;
		white-space: nowrap;
		margin: 1px 12px 0px 12px;
	}

	.attribute-description {
		float: left;
		font-size: .7em;
	}

	.store-result-type-rating {
		float: left;
		padding-bottom: 8px;
	}

	&:last-of-type{
		border-bottom: none;
	}

}

.store-result-attribute-content{
	height: 30px;
	line-height: 28px;
	float: none;
}


/*/////////////////////////////////////////////////*/
/* Finder Bar Styles */
/*/////////////////////////////////////////////////*/

#finder-form{
	/*min-height: 400px*/
}

.finder-form-container {
	float: none;
	margin: 12px auto 0px auto;

}

.finder-header {
	text-transform: uppercase;
	font-size: .9em;
	margin-bottom: 4px;
		
	.finder-header-title{
		font-size: 1.6em;

	}
}

div.menu-item-vertical {
	list-style-type: none;
	font-size: 16pt;
	border-radius: 4px;
	border: 1px solid white;
    -webkit-transition: border, background .3s ease;  

    transition: border, background .3s ease;	
}
div.menu-item-vertical:hover {
	border: 1px solid gray;
	background: #f8f8f8;
}

.finder-extra-header {
	margin: 0px auto 12px auto;
	text-align: center;
	font-size: .9em;
	color: $medium-gray;


	a {
		color: inherit;
		text-decoration: none;
		-webkit-transition: color .5s ease;
		-moz-transition: color .5s ease;  
    -o-transition: color .5s ease;  
    -ms-transition: color .5s ease;  
		transition: color .5s ease;
		&:hover { 

			color: $bright-purple;
		}
	}
	.note {
		margin-top: 4px;
		font-style: italic;
		color: $pale-gray;
		font-size: .8em;
	}

}
.toggle-extra-options{
	/*color: #7D7D7D;*/
}

.finder-main-bar {
	font-family: $header-font;
	font-weight: $font-weight-light;
/*	text-transform: uppercase;*/
	margin: 10px auto 0px auto;
	width: 90%;
	float: none;
	font-size: 1.2rem;
	text-align: center;
}

.finder-main-select {
	font-family: $header-font;	
	text-transform: uppercase;
	font-size: 1rem;
	width: 200px;
	line-height: 20px;
}

.button.finder-submit{
	font-family: $header-font;
	color: $white;
	margin-top: 8px;
	margin-bottom: 4px;
	background-color: $dusky-purple;
	/*border-radius: 2px;*/
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.1875rem;
  padding-left: 2.25rem;
	-webkit-transition: background-color .5s ease;
	-moz-transition: background-color .5s ease;  
  -o-transition: background-color .5s ease;  
  -ms-transition: background-color .5s ease;  
	transition: background-color .5s ease;

	&:hover { 

		background-color: $medium-purple;
	}
}


#finder-extra-options {
	display: none;
	float: none;
	margin: 10px auto 10px auto;
	text-align: center;
	width: 85%;
	border: 1px dotted $cloudy-gray;
	background-color: $white;
}

.extra-options-hide{
	width: 100%;
	text-align: center;
	height: 20px;
	float: left;
}

a.extra-options-hide-link{
	text-transform: uppercase;
	font-size: 0.5rem;
	opacity: 0.5;
}

a.extra-options-hide-link:hover{
	opacity: 1.0;
}

.extra-option-container {
	float: left;
	width: 20%;
	background-color: #fff;
	color: #575757;
	text-align: center;
	padding: 0px 4px 12px 4px;

}

.extra-option-header-icon {
	text-align: center;
	font-size: 2.4rem;
	color: inherit;
	padding-top: 8px;
}

.extra-option-header {
	text-align: center;
	font-size: 1.0rem;
	font-weight: $font-weight-normal;
	color: inherit;
	padding: 8px 0px;
	border-bottom: 1px dotted #e3e3e3;
	margin-bottom: 10px
}

.extra-option {
	font-size: 1.0rem;
	padding: 8px 0px;
	color: inherit;
	border: 1px solid #fff;
	cursor: pointer;
}

.extra-option.option-inactive {
	font-size: 1.0rem;
	padding: 8px 0px;
	color: #e3e3e3;
	border: 1px solid #fff;
}

.extra-option.option-selected {
	font-size: 1.0rem;
	padding: 8px 0px;
	color: #000;
	border-radius: 3px;
	border: 1px dotted #7D7D7D;
	background-color: #fcfcfc;
}

/*/////////////////////////////////////////////////*/
/* Text and Miscellaneous Styles */
/*/////////////////////////////////////////////////*/

a.fade {
	color: inherit;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;  
  -o-transition: color .5s ease;  
  -ms-transition: color .5s ease;  
	transition: color .5s ease;
	&:hover { 
		color: $bright-purple;
	}
}

.gray-ital{
	font-style: italic;
	color: #404040;
	font-size: .8em;
}
.black {
	color: #000;
}
.normal-weight {
	font-weight: $font-weight-normal;
}
.bold {
	font-weight: $font-weight-bold;
}
.white {
	color: #FFF;
}
i.bookmark {
	color: #404040;
}
i.inactive {
	opacity: .2;
}
.gusto {
	font-family: $fancy-font;
	font-weight: normal !important;
	font-size: 1.3rem !important;
}
.gusto-sm {
	font-family: $fancy-font;
	font-weight: normal !important;
	font-size: 1rem !important;
}

.gusto-icon {
	font-family: $fancy-font;
	padding: 0px 5px 0px 4px;
}

/*/////////////////////////////////////////////////*/
/* Media Styles */
/*/////////////////////////////////////////////////*/


